email-summarization/1. E-Mail Summarizer.json
{
  "name": "1. E-Mail Summarizer",
  "nodes": [
    {
      "parameters": {
        "content": "- Starts the workflow every day at 7 AM.\n- Adjust the time if you want the workflow to run at a different hour.",
        "height": 314.47468983163634,
        "width": 248.47086922498647
      },
      "id": "8eeea6bd-952a-43e6-be30-88e147a735da",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-1120, 16],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\nYou are E-Mail Categorizer agent, your job is to categorize E-Mail based on Eisenhower Matrix.\n\n# Input Format:\nFrom: {{ $json.From }}\nSubject: {{ $json.Subject }}\nContent: {{ $json.snippet }}\n\n# Categorization Logic\n- Q1: Urgent & Important\tRequires immediate action, deadlines, critical tasks, emergencies\n- Q2: Not Urgent but Important\tLong-term goals, planning, relationship building, improvement tasks\n- Q3: Urgent but Not Important\tInterruptions, delegation tasks, minor requests, meetings not crucial\n- Q4: Not Urgent & Not Important\tIrrelevant information, spam, entertainment, time-wasters\n\n# Output\n- From\n- Subject\n- Summary - Short Summary of the E-Mail content\n- Category ['Q1', 'Q2', 'Q3', 'Q4'] - E-Mail Category\n- Reason - Short reason why you choose that category",
        "hasOutputParser": true,
        "batching": {
          "batchSize": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [-512, 160],
      "id": "529da587-87e8-4562-9a83-468970a5098c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-512, 320],
      "id": "a0f09e73-2999-41d5-a0c4-d351670462ef",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NbgloIzpF7cpAspZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "Fetches all emails received in the past 24 hours from the email address",
        "height": 313.40934714314244,
        "width": 213.36643278764896
      },
      "id": "08e8b818-2ad0-47d6-893c-0c21b51c8c8c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-816, 16],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "receivedAfter": "={{ $now.minus(1, 'days') }}"
        }
      },
      "id": "d99a849f-7899-43f1-a672-364d12da8858",
      "name": "Fetch Emails - Past 24 Hours",
      "type": "n8n-nodes-base.gmail",
      "position": [-752, 160],
      "webhookId": "c3c7a058-db2b-4447-895b-62dd53240a14",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "ygwQJlUxovKp44oZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "your_email@gmail.com",
        "subject": "=E-Mail Summary - {{ $now.format('yyyy-MM-dd') }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Summary - Eisenhower Matrix</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #FFFFFF;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #FFFFFF; padding: 20px;\">\n        <tr>\n            <td align=\"center\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width: 1200px; background: white; border-radius: 16px; overflow: hidden;\">\n                    \n                    <!-- Header -->\n                    <tr>\n                        <td style=\"background: linear-gradient(135deg, #F1F6F9 0%, #F1F6F9 100%); background-color: #F1F6F9; color: white; padding: 40px 30px; text-align: center;\">\n                            <h1 style=\"font-size: 32px; margin: 0 0 10px 0; color: #0045AB;font-weight: bold;\">📊 Daily E-Mail Summary</h1>\n                        </td>\n                    </tr>\n                    \n                    <!-- Stats -->\n                    <tr>\n                        <td style=\"padding: 30px; background: #f8f9fa; border-bottom: 2px solid #e9ecef;\">\n                            <table width=\"100%\" cellpadding=\"10\" cellspacing=\"10\" border=\"0\">\n                                <tr>\n                                    <!-- Total Emails -->\n                                    <td width=\"20%\" align=\"center\" style=\"background: white; padding: 20px; border-radius: 12px;\">\n                                        <span style=\"font-size: 36px; font-weight: bold; color: #0045AB; display: block;\">{{ $json.data.length }}</span>\n                                        <span style=\"font-size: 13px; color: #6c757d; text-transform: uppercase; letter-spacing: 0.5px; margin-top: 5px; display: block;\">Total Emails</span>\n                                    </td>\n                                    \n                                    <!-- Q1 Count -->\n                                    <td width=\"20%\" align=\"center\" style=\"background: white; padding: 20px; border-radius: 12px;\">\n                                        <span style=\"font-size: 36px; font-weight: bold; color: #0045AB; display: block;\">{{ $json.data.filter(item => item.output.Category == 'Q1').length }}</span>\n                                        <span style=\"font-size: 13px; color: #6c757d; text-transform: uppercase; letter-spacing: 0.5px; margin-top: 5px; display: block;\">Q1 - Do First</span>\n                                    </td>\n                                    \n                                    <!-- Q2 Count -->\n                                    <td width=\"20%\" align=\"center\" style=\"background: white; padding: 20px; border-radius: 12px;\">\n                                        <span style=\"font-size: 36px; font-weight: bold; color: #0045AB; display: block;\">{{ $json.data.filter(item => item.output.Category == 'Q2').length }}</span>\n                                        <span style=\"font-size: 13px; color: #6c757d; text-transform: uppercase; letter-spacing: 0.5px; margin-top: 5px; display: block;\">Q2 - Schedule</span>\n                                    </td>\n                                    \n                                    <!-- Q3 Count -->\n                                    <td width=\"20%\" align=\"center\" style=\"background: white; padding: 20px; border-radius: 12px;\">\n                                        <span style=\"font-size: 36px; font-weight: bold; color: #0045AB; display: block;\">{{ $json.data.filter(item => item.output.Category == 'Q3').length }}</span>\n                                        <span style=\"font-size: 13px; color: #6c757d; text-transform: uppercase; letter-spacing: 0.5px; margin-top: 5px; display: block;\">Q3 - Delegate</span>\n                                    </td>\n                                    \n                                    <!-- Q4 Count -->\n                                    <td width=\"20%\" align=\"center\" style=\"background: white; padding: 20px; border-radius: 12px;\">\n                                        <span style=\"font-size: 36px; font-weight: bold; color: #0045AB; display: block;\">{{ $json.data.filter(item => item.output.Category == 'Q4').length }}</span>\n                                        <span style=\"font-size: 13px; color: #6c757d; text-transform: uppercase; letter-spacing: 0.5px; margin-top: 5px; display: block;\">Q4 - Delete</span>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    \n                    <!-- Matrix Grid -->\n                    <tr>\n                        <td style=\"padding: 30px;\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"15\" border=\"0\">\n                                <tr>\n                                    <!-- Q1: Do First (Urgent & Important) -->\n                                    <td width=\"50%\" valign=\"top\" style=\"background: linear-gradient(135deg, #fee2e2 0%, #fecaca 100%); background-color: #fee2e2; padding: 25px; border: 2px solid #e9ecef; border-radius: 12px;\">\n                                        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                            <!-- Q1 Header -->\n                                            <tr>\n                                                <td style=\"padding-bottom: 15px; border-bottom: 3px solid rgba(0,0,0,0.1);\">\n                                                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                                        <tr>\n                                                            <td>\n                                                                <span style=\"font-size: 28px;\">🚨</span>\n                                                                <span style=\"font-size: 20px; font-weight: 700; color: #1f2937; margin-left: 10px;\">Do First</span>\n                                                            </td>\n                                                        </tr>\n                                                        <tr>\n                                                            <td>\n                                                                <div style=\"font-size: 12px; color: #6b7280; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-top: 2px;\">Urgent & Important</div>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                            \n                                            <!-- Q1 Items -->\n                                            {{ $json.data.filter(item => item.output.Category == 'Q1').map(item => `\n                                            <tr>\n                                                <td style=\"padding-top: 12px;\">\n                                                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background: rgba(255,255,255,0.9); border-left: 4px solid #dc2626; border-radius: 8px; margin-bottom: 12px;\">\n                                                        <tr>\n                                                            <td style=\"padding: 15px;\">\n                                                                <div style=\"font-size: 11px; color: #6b7280; margin-bottom: 6px; font-weight: 600;\">${item.output.From}</div>\n                                                                <div style=\"font-weight: 600; color: #1f2937; margin-bottom: 8px; font-size: 14px;\">${item.output.Subject}</div>\n                                                                <div style=\"color: #4b5563; font-size: 13px; line-height: 1.5; margin-bottom: 10px;\">${item.output.Summary}</div>\n                                                                <div style=\"background: rgba(0,0,0,0.05); padding: 8px 10px; border-radius: 6px; font-size: 12px; color: #374151; font-style: italic; margin-top: 8px;\">${item.output.Reason}</div>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                            `).join('')}}\n                                        </table>\n                                    </td>\n                                    \n                                    <!-- Q2: Schedule (Not Urgent & Important) -->\n                                    <td width=\"50%\" valign=\"top\" style=\"background: linear-gradient(135deg, #dbeafe 0%, #bfdbfe 100%); background-color: #dbeafe; padding: 25px; border: 2px solid #e9ecef; border-radius: 12px;\">\n                                        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                            <!-- Q2 Header -->\n                                            <tr>\n                                                <td style=\"padding-bottom: 15px; border-bottom: 3px solid rgba(0,0,0,0.1);\">\n                                                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                                        <tr>\n                                                            <td>\n                                                                <span style=\"font-size: 28px;\">📅</span>\n                                                                <span style=\"font-size: 20px; font-weight: 700; color: #1f2937; margin-left: 10px;\">Schedule</span>\n                                                            </td>\n                                                        </tr>\n                                                        <tr>\n                                                            <td>\n                                                                <div style=\"font-size: 12px; color: #6b7280; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-top: 2px;\">Not Urgent & Important</div>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                            \n                                            <!-- Q2 Items -->\n                                            {{ $json.data.filter(item => item.output.Category == 'Q2').map(item => `\n                                            <tr>\n                                                <td style=\"padding-top: 12px;\">\n                                                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background: rgba(255,255,255,0.9); border-left: 4px solid #2563eb; border-radius: 8px; margin-bottom: 12px;\">\n                                                        <tr>\n                                                            <td style=\"padding: 15px;\">\n                                                                <div style=\"font-size: 11px; color: #6b7280; margin-bottom: 6px; font-weight: 600;\">${item.output.From}</div>\n                                                                <div style=\"font-weight: 600; color: #1f2937; margin-bottom: 8px; font-size: 14px;\">${item.output.Subject}</div>\n                                                                <div style=\"color: #4b5563; font-size: 13px; line-height: 1.5; margin-bottom: 10px;\">${item.output.Summary}</div>\n                                                                <div style=\"background: rgba(0,0,0,0.05); padding: 8px 10px; border-radius: 6px; font-size: 12px; color: #374151; font-style: italic; margin-top: 8px;\">${item.output.Reason}</div>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                            `).join('')}}\n                                        </table>\n                                    </td>\n                                </tr>\n                                \n                                <tr>\n                                    <!-- Q3: Delegate (Urgent & Not Important) -->\n                                    <td width=\"50%\" valign=\"top\" style=\"background: linear-gradient(135deg, #fef3c7 0%, #fde68a 100%); background-color: #fef3c7; padding: 25px; border: 2px solid #e9ecef; border-radius: 12px;\">\n                                        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                            <!-- Q3 Header -->\n                                            <tr>\n                                                <td style=\"padding-bottom: 15px; border-bottom: 3px solid rgba(0,0,0,0.1);\">\n                                                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                                        <tr>\n                                                            <td>\n                                                                <span style=\"font-size: 28px;\">⚡</span>\n                                                                <span style=\"font-size: 20px; font-weight: 700; color: #1f2937; margin-left: 10px;\">Delegate</span>\n                                                            </td>\n                                                        </tr>\n                                                        <tr>\n                                                            <td>\n                                                                <div style=\"font-size: 12px; color: #6b7280; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-top: 2px;\">Urgent & Not Important</div>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                            \n                                            <!-- Q3 Items -->\n                                            {{ $json.data.filter(item => item.output.Category == 'Q3').map(item => `\n                                            <tr>\n                                                <td style=\"padding-top: 12px;\">\n                                                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background: rgba(255,255,255,0.9); border-left: 4px solid #d97706; border-radius: 8px; margin-bottom: 12px;\">\n                                                        <tr>\n                                                            <td style=\"padding: 15px;\">\n                                                                <div style=\"font-size: 11px; color: #6b7280; margin-bottom: 6px; font-weight: 600;\">${item.output.From}</div>\n                                                                <div style=\"font-weight: 600; color: #1f2937; margin-bottom: 8px; font-size: 14px;\">${item.output.Subject}</div>\n                                                                <div style=\"color: #4b5563; font-size: 13px; line-height: 1.5; margin-bottom: 10px;\">${item.output.Summary}</div>\n                                                                <div style=\"background: rgba(0,0,0,0.05); padding: 8px 10px; border-radius: 6px; font-size: 12px; color: #374151; font-style: italic; margin-top: 8px;\">${item.output.Reason}</div>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                            `).join('')}}\n                                        </table>\n                                    </td>\n                                    \n                                    <!-- Q4: Delete (Not Urgent & Not Important) -->\n                                    <td width=\"50%\" valign=\"top\" style=\"background: linear-gradient(135deg, #d1fae5 0%, #a7f3d0 100%); background-color: #d1fae5; padding: 25px; border: 2px solid #e9ecef; border-radius: 12px;\">\n                                        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                            <!-- Q4 Header -->\n                                            <tr>\n                                                <td style=\"padding-bottom: 15px; border-bottom: 3px solid rgba(0,0,0,0.1);\">\n                                                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                                        <tr>\n                                                            <td>\n                                                                <span style=\"font-size: 28px;\">🗑️</span>\n                                                                <span style=\"font-size: 20px; font-weight: 700; color: #1f2937; margin-left: 10px;\">Delete</span>\n                                                            </td>\n                                                        </tr>\n                                                        <tr>\n                                                            <td>\n                                                                <div style=\"font-size: 12px; color: #6b7280; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px; margin-top: 2px;\">Not Urgent & Not Important</div>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                            \n                                            <!-- Q4 Items -->\n                                            {{ $json.data.filter(item => item.output.Category == 'Q4').map(item => `\n                                            <tr>\n                                                <td style=\"padding-top: 12px;\">\n                                                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background: rgba(255,255,255,0.9); border-left: 4px solid #059669; border-radius: 8px; margin-bottom: 12px;\">\n                                                        <tr>\n                                                            <td style=\"padding: 15px;\">\n                                                                <div style=\"font-size: 11px; color: #6b7280; margin-bottom: 6px; font-weight: 600;\">${item.output.From}</div>\n                                                                <div style=\"font-weight: 600; color: #1f2937; margin-bottom: 8px; font-size: 14px;\">${item.output.Subject}</div>\n                                                                <div style=\"color: #4b5563; font-size: 13px; line-height: 1.5; margin-bottom: 10px;\">${item.output.Summary}</div>\n                                                                <div style=\"background: rgba(0,0,0,0.05); padding: 8px 10px; border-radius: 6px; font-size: 12px; color: #374151; font-style: italic; margin-top: 8px;\">${item.output.Reason}</div>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                            `).join('')}}\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    \n                    <!-- Legend -->\n                    <tr>\n                        <td style=\"padding: 20px 30px; background: #f9fafb; border-top: 2px solid #e5e7eb;\">\n                            <table width=\"100%\" cellpadding=\"10\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td width=\"50%\" style=\"padding: 5px;\">\n                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                            <tr>\n                                                <td style=\"width: 30px; height: 30px; background: linear-gradient(135deg, #fee2e2 0%, #fecaca 100%); background-color: #fee2e2; border-radius: 6px;\" valign=\"middle\"></td>\n                                                <td style=\"padding-left: 10px; font-size: 13px; color: #4b5563;\"><strong>Do First (Q1):</strong> Crisis, deadlines, security issues</td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                    <td width=\"50%\" style=\"padding: 5px;\">\n                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                            <tr>\n                                                <td style=\"width: 30px; height: 30px; background: linear-gradient(135deg, #dbeafe 0%, #bfdbfe 100%); background-color: #dbeafe; border-radius: 6px;\" valign=\"middle\"></td>\n                                                <td style=\"padding-left: 10px; font-size: 13px; color: #4b5563;\"><strong>Schedule (Q2):</strong> Long-term growth, planning, learning</td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td width=\"50%\" style=\"padding: 5px;\">\n                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                            <tr>\n                                                <td style=\"width: 30px; height: 30px; background: linear-gradient(135deg, #fef3c7 0%, #fde68a 100%); background-color: #fef3c7; border-radius: 6px;\" valign=\"middle\"></td>\n                                                <td style=\"padding-left: 10px; font-size: 13px; color: #4b5563;\"><strong>Delegate (Q3):</strong> Quick tasks, interruptions, distractions</td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                    <td width=\"50%\" style=\"padding: 5px;\">\n                                        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                            <tr>\n                                                <td style=\"width: 30px; height: 30px; background: linear-gradient(135deg, #d1fae5 0%, #a7f3d0 100%); background-color: #d1fae5; border-radius: 6px;\" valign=\"middle\"></td>\n                                                <td style=\"padding-left: 10px; font-size: 13px; color: #4b5563;\"><strong>Delete (Q4):</strong> Time wasters, junk, unnecessary emails</td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    \n                    <!-- Footer -->\n                    <tr>\n                        <td style=\"background: #2d3748; color: white; padding: 20px 30px; text-align: center; font-size: 13px;\">\n                            <p style=\"margin: 0;\">✨ Prioritized by Eisenhower Matrix | Focus on Impact, Not Just Urgency</p>\n                        </td>\n                    </tr>\n                    \n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "replyToSenderOnly": false
        }
      },
      "id": "1c100086-1cf0-48ae-8b11-a78b1d8b2bb0",
      "name": "Send Summary - Morning",
      "type": "n8n-nodes-base.gmail",
      "position": [64, 160],
      "webhookId": "957186af-7f23-4984-8b82-72f5075b73b0",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "ygwQJlUxovKp44oZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "- Sends the summarized email report to recipients with a styled HTML layout.\n- Update the \"sendTo\" and \"ccList\" fields with the email addresses of your recipients.",
        "height": 328,
        "width": 233
      },
      "id": "4fc682ba-208c-4b51-aa88-edabfe441989",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [0, 0],
      "typeVersion": 1
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"Fields\": [\n    \"From\",\n    \"Subject\",\n    \"Summary\",\n    \"Category\",\n    \"Reason\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-352, 320],
      "id": "4f8dd433-1e94-4b5c-aaa7-a6d4a4b1ba74",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [-192, 160],
      "id": "7c82c639-f0c8-423f-812d-4e18299d3a73",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1056, 160],
      "id": "963200b2-751c-447c-a6ba-f08f023978d2",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-11-28T07:00:44.011+07:00",
          "Readable date": "November 28th 2025, 7:00:44 am",
          "Readable time": "7:00:44 am",
          "Day of week": "Friday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "28",
          "Hour": "07",
          "Minute": "00",
          "Second": "44",
          "Timezone": "Asia/Jakarta (UTC+07:00)"
        }
      }
    ]
  },
  "connections": {
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Emails - Past 24 Hours": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send Summary - Morning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Emails - Past 24 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b5e27d50-e3cf-453a-a79d-f4135c26c8e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ac7d35aa7c38025acac82e0b6f9f0158d8e68d5605135eacd424ab6c57fe924"
  },
  "id": "aL1TppdmgTtloP51",
  "tags": []
}
